.Timetable {

  top: 52px;
  border: 1px solid #c3c3c3;
  border-top: 3px solid #2dcfc7;
  border-collapse: collapse;
  text-align: center;
  width: 100%;

  &__headings {
    background-color: #000;
    color: #fff;
  }

  &__heading {
    border: 1px solid #c3c3c3;
    padding: 10px 6px;
  }

  &__data {
    border: 1px solid #c3c3c3;
  }

  &__button {
    padding: 10px 6px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #fff;
    transition: background-color ease-in-out 0.5s;
    
    &:hover {
      cursor: pointer;
      background-color: #1b571b;
      color: #fff;
    }

    &--disabled {
      background: #ccc;
    }

    &--selected {
      background-color: #1b571b;
      color: #fff;
    }

    &--full {
      background-color: #f00;
      color: #fff;
    }

    &--unAvailable {
      background-color: #ccc;
      color: #000;
    }
  }


}